.container {
  background: #ededed;
  padding: 20px 30px;
  border-radius: 5px;
}

.container p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.13846154510974884px;
  text-align: left;
}
